html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'SFPro Regular';
    font-size: 10px;
    background-color: white;
    color: black;
    text-align: center;
    transition: 0.3s;
    max-width: 100%;
    overflow-x: hidden;
}

* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: 'Product Sans Bold';
    src: url("../fonts/Product-Sans-Bold.ttf");
}

@font-face {
    font-family: 'SFPro Regular';
    src: url("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: 'SFPro Semibold';
    src: url("../fonts/SFProDisplay-Semibold.ttf");
}
@font-face {
    font-family: 'SFPro Bold';
    src: url("../fonts/SFProDisplay-Bold.ttf");
}
@font-face {
    font-family: 'SFProText Regular';
    src: url("../fonts/SFProText-Regular.ttf");
}
@font-face {
    font-family: 'SFProText Semibold';
    src: url("../fonts/SFProText-Semibold.ttf");
}


.fadeIn {
    transition: 0.4s;
    opacity: 1 !important;
}

.header {
    text-align: left;
    height: 15%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}

.footer {
    height: 100%;
    width: 100%;
    text-align: left;
    pointer-events: none;
}

.contents {
    height: 100%;
    width: 100%;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

.header img {
    margin-left: 5%;
    height: 90%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pill-button {
    text-decoration: none;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    margin-top: 40px;
    padding: 0 23px;
    border-radius: 46px;
    border: 2px solid black;
    -webkit-transition: cubic-bezier(0.4, 0, 0.6, 1);
    transition: cubic-bezier(0.4, 0, 0.6, 1);
    cursor:pointer;
}

.pill-text{
  font-size: 17px;
  font-family: 'SFProText Regular';
  color: black;
  position:relative;
}

.pill-button .pill-text {
    color: black;
    -webkit-transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1)
}

a.pill-button:hover,button.pill-button:hover {
    background: black;
    -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
}

a.pill-button:hover .pill-text,button.pill-button:hover .pill-text {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1)
}

.title {
  height: 30%;
  width: 100%;
  text-align: center;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.initial {
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #F7F7F7;
  z-index: 1;
  position: relative;
}

.title-text {
  font-family: 'SFPro Semibold';
  font-size: 6rem;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  display: inline-block;
}
.initial-content {
  height:70%;
  width: 60%;
  display:inline-block;
  text-align: left;
}
.initial-title-text{
  font-family: "SFPro Semibold";
  margin-top: 10px;
  font-size: 3rem;
}
.initial-desc-text{
  font-family: "SFPro Regular";
  margin-top: 10px;
  font-size: 2rem;
}
.initial-container-title{
  font-family: "SFPro Semibold";
  margin-top: 10px;
  font-size: 3.5rem;
  text-align: center;
}
.initial-container-text-title{
  font-family: "SFProText Semibold";
  margin-top: 10px;
  font-size: 2.5rem;
}
.initial-container-text{
  font-family: "SFProText Regular";
  margin-top: 5px;
  font-size: 2rem;
}

.initial-container-button{

}

.about {
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.footer-box {
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.footer-box-container {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-box-container img {
    height: 11rem;
    width: auto;
}

.footer-content-1 {
    height: auto;
    color: white;
    font-family: 'SFPro Bold';
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.footer-content-2,.footer-content-3 {
    height: auto;
    color: white;
    font-family: 'SFPro Bold';
    font-size: 1.5rem;
    margin: 1rem 0;
}

.footer-content-links {
    height: 10rem;
    width: 100%;
    margin-top: 6rem;
}

.footer-content-links img {
    height: 50%;
    width: auto;
    margin: 0 1rem;
}

.logo-container{
	height: 1280px;
	width:720px;
	z-index: 2;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.logo-container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.about-l3 {
    color: black;
    background-color: transparent;
    opacity: 0;
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
	display: block;
}
