html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'SFPro Regular';
    font-size: 10px;
    background-color: white;
    color: black;
    text-align: center;
    transition: 0.3s;
}

* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: 'Product Sans Bold';
    src: url("../fonts/Product-Sans-Bold.ttf");
}

@font-face {
    font-family: 'SFPro Regular';
    src: url("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: 'SFPro Semibold';
    src: url("../fonts/SFProDisplay-Semibold.ttf");
}
@font-face {
    font-family: 'SFPro Bold';
    src: url("../fonts/SFProDisplay-Bold.ttf");
}

.fadeIn {
    transition: 0.4s;
    opacity: 1 !important;
}

.header {
    text-align: left;
    height: 15%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}

.contents {
    height: 100%;
    width: 100%;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

.header img {
    margin-left: 5%;
    height: 90%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.home,.about,.achievements,.updates,.services,.contact {
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: #F5F5F5;
    z-index: 1;
    position: relative;
}

.home-color {
  text-align: center;
  background-color: #000000
}

.footer {
    height: 100%;
    width: 100%;
    text-align: left;
    pointer-events: none;
}

.updates-content,.services-content,.contact-content {
    height: 70%;
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.about-content {
    height: 70%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.home-content {
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.home-content-box {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    text-align: center;
}

.home-title {
    font-family: 'SFPro Semibold';
    font-size: 8rem;
    color: #FFFFFF

}

.home-break {
    height: 6rem;
    width: 100%;
}

.home-desc {
    font-family: 'SFPro Semibold';
    font-size: 3rem;
    color: #FFFFFF;
    opacity: 0;
}



.about-image-box {
    height: 100%;
    width: 85%;
    display: inline-block;
}

.about-image {
    height: 100%;
    width: 40%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.about-menu {
    display: inline-block;
    height: 100%;
    width: 30%;
    text-align: left;
}

.about-menu-container {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.about-history {
    font-family: 'SFPro Semibold';
    font-size: 4rem;
    padding: 1.5rem 0;
    transition: 0.3s;
}

.aboutmenuoptionactive {
    transition: 0.3s;
    opacity: 1;
}

.about-image-layers {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.about-l3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
    background-color: transparent;
    z-index: 3;
    opacity: 0;
    transition: 0.3s;
    background-image: url("../img/cec-robot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.achievements-content {
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.slogan-text {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    opacity: 0;
}

.slogan-text.activated {
    transition: 1s;
    letter-spacing: 0rem;
    opacity: 1;
}

.updates-image {
    height: 100%;
    width: 50%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.updates-image-box {
    height: 100%;
    width: 80%;
    display: inline-block;
}

.updates-box {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.updates-1 {
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/activity.jpg");
    background-position: center;
    background-size: cover;
    z-index: 5;
}

.updates-2 {
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/courses.jpg");
    background-position: center;
    background-size: cover;
    z-index: 4;
}

.updates-3 {
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/latest.jpg");
    background-position: center;
    background-size: cover;
    z-index: 4;
}

.updates-expand {
    width: 100%;
    transition: cubic-bezier(1,0,0,1) 0.8s;
}

.updates-desc {
    display: inline-block;
    height: 100%;
    width: 40%;
    text-align: left;
}

.updates-desc-content {
    height: 100%;
    width: 75%;
    display: inline-block;
}

.updates-title-box,.updates-desc-box {
    height: 50%;
    width: 100%;
}

.updates-title-box-content {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%) translateX(-40%);
    z-index: 6;
}

.updates-desc-box-content {
    height: 100%;
    width: 100%;
}

.updates-title {
    font-family: 'SFPro Bold';
    text-align: left;
    font-size: 7rem;
}

.updates-desc-box-content {
    text-align: left;
    font-size: 2.5rem;
}

.services-desc {
    height: 100%;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.service-desc-l1,.service-desc-l2,.service-desc-l3,.service-desc-l4 {
    height: 23%;
    width:  100%;
}

.servicemenuoptionactive {
    transition: 0.3s;
    opacity: 1;
}

.services-image {
    height: 100%;
    width: 55%;
    display: inline-block;
    text-align: center;
}

.services-image-box {
    height: 90%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.services-l1 {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/laser_cutter_q.jpg");
    background-position: center;
    background-size: cover;
}

.services-l2 {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/3d_printer.jpg");
    background-position: center;
    background-size: cover;
}

.services-l3 {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/wood_tools.jpg");
    background-position: center;
    background-size: cover;
}
.services-l4 {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/wood_tools.jpg");
    background-position: center;
    background-size: cover;
}

.visible {
  opacity: 1;
}

.services-desc-title {
    height: 80%;
    width: 100%;
    /* opacity: 0.3; */
    text-align: left;
}

.services-desc-desc {
    height: 20%;
    /* opacity: 0.3; */
    text-align: left;
}

.grey-out {
  opacity: 0.3;
}

.services-desc-title-text {
    font-family: 'SFPro Bold';
    height: auto;
    width: auto;
    margin-left: 15%;
    font-size: 5rem;
    display: inline-block;
    position:relative;
    top: 50%;
    transform: translateY(-30%);
}

.services-desc-desc-text {
    margin-left: 15%;
    font-size: 2rem;
}

.services-optionmenu-content {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15%;
}

.sop1 {
    height: 2rem;
    width: 2rem;
    background-color: white;
    margin: 0 1rem;
    display: inline-block;
    vertical-align: top;
    border-radius: 0.5rem;
}

.contact-left {
    height: 100%;
    width: 70%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.contact-left-content {
    display: inline-block;
    height: 100%;
    width: 80%;
    margin-right: 8%;
}

.contact-right {
    height: 100%;
    width: 30%;
    display: inline-block;
    text-align: left;
}

.contact-right-updown-content {
    height: 90%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contact-right-up {
    height: 40%;
    width: 100%;
}

.contact-right-down {
    height: 50%;
    width: 100%;
}

.contact-right-content {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contact-title {
    font-size: 8rem;
    font-family: 'SFPro Bold';
}

.contact-desc {
    font-size: 2rem;
}

.contact-address {
    font-size: 2.2rem;
}

.footer-box {
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.footer-box-container {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-box-container img {
    height: 11rem;
    width: auto;
}

.footer-content-1 {
    height: auto;
    color: white;
    font-family: 'SFPro Bold';
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.footer-content-2,.footer-content-3 {
    height: auto;
    color: white;
    font-family: 'SFPro Bold';
    font-size: 1.5rem;
    margin: 1rem 0;
}

.footer-content-links {
    height: 10rem;
    width: 100%;
    margin-top: 6rem;
}

.footer-content-links img {
    height: 50%;
    width: auto;
    margin: 0 1rem;
}

.invert {
  -webkit-filter: invert(1);
   filter: invert(1);
}
