html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'SFPro Regular';
    font-size: 10px;
    background-color: white;
    color: black;
    text-align: center;
    transition: 0.3s;
    max-width: 100%;
    overflow-x: hidden;
}

* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul {
    padding: 0;
    list-style-type: none;
}


::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: 'Product Sans Bold';
    src: url("../fonts/Product-Sans-Bold.ttf");
}

@font-face {
    font-family: 'SFPro Regular';
    src: url("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: 'SFPro Semibold';
    src: url("../fonts/SFProDisplay-Semibold.ttf");
}
@font-face {
    font-family: 'SFPro Bold';
    src: url("../fonts/SFProDisplay-Bold.ttf");
}
@font-face {
    font-family: 'SFProText Regular';
    src: url("../fonts/SFProText-Regular.ttf");
}
@font-face {
    font-family: 'SFProText Semibold';
    src: url("../fonts/SFProText-Semibold.ttf");
}


.fadeIn {
    transition: 0.4s;
    opacity: 1 !important;
}

.header {
    text-align: left;
    height: 15%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}

.footer {
    height: 100%;
    width: 100%;
    text-align: left;
    pointer-events: none;
}

.contents {
    height: 100%;
    width: 100%;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

.header img {
    margin-left: 5%;
    height: 90%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pill-button {
    text-decoration: none;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    margin-top: 40px;
    padding: 0 23px;
    border-radius: 46px;
    border: 2px solid black;
    -webkit-transition: cubic-bezier(0.4, 0, 0.6, 1);
    transition: cubic-bezier(0.4, 0, 0.6, 1);
    cursor:pointer;
}

.pill-text{
  font-size: 17px;
  font-family: 'SFProText Regular';
  color: black;
  position:relative;
}

.pill-button .pill-text {
    color: black;
    -webkit-transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1)
}

a.pill-button:hover,button.pill-button:hover {
    background: black;
    -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
}

a.pill-button:hover .pill-text,button.pill-button:hover .pill-text {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1)
}

.title {
  height: 30%;
  width: 100%;
  text-align: center;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.description {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #F7F7F7;
  z-index: 1;
  position: relative;
}

.title-text {
  font-family: 'SFPro Semibold';
  font-size: 6rem;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  display: inline-block;
}
.description-content {
  height:70%;
  width: 80%;
  display:inline-block;
  text-align: center;
}
.description-title-text{
  font-family: "SFPro Bold";
  margin-top: 10px;
  font-size: 3rem;
}
.description-desc-text{
  font-family: "SFPro Regular";
  margin-top: 10px;
  font-size: 2rem;
}

.year-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.achievements-list-item {
  height:30%;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 4%;
  text-align: left;
}

.list-title {
  font-family: "SFPro Semibold";
  font-size: 2.5rem;
}

.list-desc {
  font-family: "SFPro Regular";
  font-size: 2rem;
}

.about {
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.footer-box {
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.footer-box-container {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-box-container img {
    height: 11rem;
    width: auto;
}

.footer-content-1 {
    height: auto;
    color: white;
    font-family: 'SFPro Bold';
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.footer-content-2,.footer-content-3 {
    height: auto;
    color: white;
    font-family: 'SFPro Bold';
    font-size: 1.5rem;
    margin: 1rem 0;
}

.footer-content-links {
    height: 10rem;
    width: 100%;
    margin-top: 6rem;
}

.footer-content-links img {
    height: 50%;
    width: auto;
    margin: 0 1rem;
}

.latest-content_left {
  margin-top: 10px;
  margin-bottom: 10px;
  height:100%;
  width:45%;
  margin-right: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),url("../img/latest_1.jpg");
  background-position: center;
  background-size: contain;
  display:inline-block;
  transition: transform .2s;

}
.latest-content_left:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.content-title {
  width:100%;
  font-family: "SFPro Semibold";
  font-size: 50px;
  color: white;
  text-align: center;
  display:inline-block;
  margin-top: 50px;
}
.content-desc {
  font-family: "SFPro Regular";
  font-size: 30px;
  margin-top: 30px;
  color: white;
  text-align: center;
  display:inline-block;
}

.latest-content_right {
  margin-top: 10px;
  margin-bottom: 10px;
  height:100%;
  width:45%;
  margin-left: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)),url("../img/latest_2.jpg");
  background-position: center;
  background-size: cover;
  display:inline-block;
  transition: transform .2s;
}

.latest-content_right:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
