.post1 {
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),url("../img/latest_1.jpg");
  background-position: center;
  background-size: cover;
}

.post2 {
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)),url("../img/cec-robot.png");
  background-position: center;
  background-size: cover;
}

.post3 {
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)),url("../img/latest_2.jpg");
  background-position: center;
  background-size: cover;
}

.post4 {
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)),url("../img/latest_2.jpg");
  background-position: center;
  background-size: cover;
}

.post5 {
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)),url("../img/tkk2018.jpg");
  background-position: center;
  background-size: cover;
}

.post6 {
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)),url("../img/cl100.jpg");
  background-position: center;
  background-size: cover;
}
