.header {
    text-align: left;
    height: 15%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}

.contents {
    height: 100%;
    width: 100%;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

.header img {
    margin-left: 5%;
    height: 90%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title {
  height: 30%;
  width: 100%;
  text-align: center;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.description {
  min-height: 100%;
  height: auto;
  top:-1px;
  width: 100%;
  text-align: center;
  background-color: #F7F7F7;
  z-index: 1;
  position: relative;
}

.title-text {
  font-family: 'SFPro Semibold';
  font-size: 60px;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  display: inline-block;
  LINE-HEIGHT: 50px;
}

.description-content {
  height:70%;
  width: 50%;
  display:inline-block;
  text-align: left;
}
.description-title-text{
  font-family: "SFPro Bold";
  margin-top: 10px;
  font-size: 30px;
  line-height: 33px;
}
.description-desc-text{
  font-family: "SFPro Regular";
  margin-top: 10px;
  font-size: 20px;
  LINE-HEIGHT: 25px;
}

.hidden {
  display:none;
}

@media only screen and (max-width:920px) {
  /* For mobile phones: */
  .description-content {
    width:90%;
  }
  .title-text{
    margin-top: 20px;
    font-size: 50px;
  }
  .description-title-text {
    font-size: 28px;
  }
  .description-desc-text {
    font-size: 18px;
  }
  .list-title{
    font-size: 22px;
  }
  .list-desc{
    font-size: 19px;
  }

}
