html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'SFPro Regular';
    font-size: 10px;
    background-color: white;
    color: black;
    text-align: center;
    transition: 0.3s;
    max-width: 100%;
    overflow-x: hidden;
}

* {

}

ul {
    padding: 0;
    list-style-type: none;
}


::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url("../../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: 'Product Sans Bold';
    src: url("../../fonts/Product-Sans-Bold.ttf");
}

@font-face {
    font-family: 'SFPro Regular';
    src: url("../../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: 'SFPro Semibold';
    src: url("../../fonts/SFProDisplay-Semibold.ttf");
}
@font-face {
    font-family: 'SFPro Bold';
    src: url("../../fonts/SFProDisplay-Bold.ttf");
}
@font-face {
    font-family: 'SFProText Regular';
    src: url("../../fonts/SFProText-Regular.ttf");
}
@font-face {
    font-family: 'SFProText Semibold';
    src: url("../../fonts/SFProText-Semibold.ttf");
}


.fadeIn {
    transition: 0.4s;
    opacity: 1 !important;
}

.header {
    text-align: left;
    height: 15%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}

.footer {
    height: 100%;
    width: 100%;
    text-align: left;
    pointer-events: none;
}

.contents {
    height: 100%;
    width: 100%;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

.header img {
    margin-left: 5%;
    height: 90%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pill-button {
    text-decoration: none;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    margin-top: 40px;
    padding: 0 23px;
    border-radius: 46px;
    border: 2px solid black;
    -webkit-transition: cubic-bezier(0.4, 0, 0.6, 1);
    transition: cubic-bezier(0.4, 0, 0.6, 1);
    cursor:pointer;
}

.pill-text{
  font-size: 17px;
  font-family: 'SFProText Regular';
  color: black;
  position:relative;
}

.pill-button .pill-text {
    color: black;
    -webkit-transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1)
}

a.pill-button:hover,button.pill-button:hover {
    background: black;
    -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
}

a.pill-button:hover .pill-text,button.pill-button:hover .pill-text {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1)
}

.title {
  height: 30%;
  width: 100%;
  text-align: center;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.description {
  height: auto;
  top:-1px;
  width: 100%;
  text-align: center;
  background-color: #F7F7F7;
  z-index: 1;
  position: relative;
}

.title-text {
  font-family: 'SFPro Semibold';
  font-size: 60px;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  display: inline-block;
  LINE-HEIGHT: 50px;
}
.description-content {
  height:70%;
  width: 60%;
  display:inline-block;
  text-align: left;
}
.description-title-text{
  font-family: "SFPro Bold";
  margin-top: 10px;
  font-size: 30px;
}
.description-desc-text{
  font-family: "SFPro Regular";
  margin-top: 10px;
  font-size: 20px;
}

.year-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.achievements-list-item {
  height:30%;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 4%;
  text-align: left;
}

.list-title {
  font-family: "SFPro Semibold";
  font-size: 25px;
}

.list-desc {
  font-family: "SFPro Regular";
  font-size: 20px;
}

.input-field {
  height:auto;
  padding: 20px;
  color:#b0b0b0;
  margin:10px;
  box-shadow: inset 0 0 0 1px #d0d0d0;
  border-radius: 10px;
  transition: 0.3s;
}
.input-field:focus-within{
  box-shadow: inset 0 0 0 2px rgb(63,81,181);
  color:#000000;
}

.input-field:hover{
  box-shadow: inset 0 0 0 2px rgb(63,81,181);
  color:#000000;
}

.input-box-full {
  width:100%;!important
}

.about {
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.footer-box {
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.footer-box-container {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-box-container img {
    height: 11rem;
    width: auto;
}

.footer-content-1 {
    height: auto;
    color: white;
    font-family: 'SFPro Bold';
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.footer-content-2,.footer-content-3 {
    height: auto;
    color: white;
    font-family: 'SFPro Bold';
    font-size: 1.5rem;
    margin: 1rem 0;
}

.footer-content-links {
    height: 10rem;
    width: 100%;
    margin-top: 6rem;
}

.footer-content-links img {
    height: 50%;
    width: auto;
    margin: 0 1rem;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .description-content {
    width:90%;
  }
  .title-text{
    margin-top: 20px;
    font-size: 50px;
  }
  .description-title-text {
    font-size: 28px;
  }
  .description-desc-text {
    font-size: 18px;
  }
  .list-title{
    font-size: 22px;
  }
  .list-desc{
    font-size: 19px;
  }

}
