html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'SFPro Regular';
    font-size: 10px;
    background-color: white;
    color: black;
    text-align: center;
    transition: 0.3s;
    max-width: 100%;
    overflow-x: hidden;
}

* {

}

ul {
    padding: 0;
    list-style-type: none;
}


::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: 'Product Sans Bold';
    src: url("../fonts/Product-Sans-Bold.ttf");
}

@font-face {
    font-family: 'SFPro Regular';
    src: url("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: 'SFPro Semibold';
    src: url("../fonts/SFProDisplay-Semibold.ttf");
}
@font-face {
    font-family: 'SFPro Bold';
    src: url("../fonts/SFProDisplay-Bold.ttf");
}
@font-face {
    font-family: 'SFProText Regular';
    src: url("../fonts/SFProText-Regular.ttf");
}
@font-face {
    font-family: 'SFProText Semibold';
    src: url("../fonts/SFProText-Semibold.ttf");
}


.fadeIn {
    transition: 0.4s;
    opacity: 1 !important;
}

.header {
    text-align: left;
    height: 15%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}

.footer {
    height: 30%;
    width: 100%;
    text-align: left;
    pointer-events: none;

}

.contents {
    height: 100%;
    width: 100%;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

.header img {
    margin-left: 5%;
    height: 90%;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pill-button {
    text-decoration: none;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    margin-top: 40px;
    padding: 0 23px;
    border-radius: 46px;
    border: 2px solid black;
    -webkit-transition: cubic-bezier(0.4, 0, 0.6, 1);
    transition: cubic-bezier(0.4, 0, 0.6, 1);
    cursor:pointer;
}

.pill-text{
  font-size: 17px;
  font-family: 'SFProText Regular';
  color: black;
  position:relative;
}

.pill-button .pill-text {
    color: black;
    -webkit-transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1)
}

a.pill-button:hover,button.pill-button:hover {
    background: black;
    -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
}

a.pill-button:hover .pill-text,button.pill-button:hover .pill-text {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    transition: 300ms color cubic-bezier(0.4, 0, 0.6, 1)
}

.title {
  height: 30%;
  width: 100%;
  text-align: center;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.description {
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #F7F7F7;
  z-index: 1;
  position: relative;
}

.title-text {
  font-family: 'SFPro Semibold';
  font-size: 6rem;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  display: inline-block;
    background-image: url(../img/background-1121216_1280.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description-content {
  height:70%;
  width: 60%;
  display:inline-block;
  text-align: left;
}
.description-title-text{
  font-family: "SFPro Bold";
  margin-top: 10px;
  font-size: 3rem;
}
.description-desc-text{
  font-family: "SFPro Regular";
  margin-top: 10px;
  font-size: 2rem;
}

.year-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.achievements-list-item {
  height:30%;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 4%;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns:  auto auto auto auto auto ;
}

.grid-item {
  height:330px;
  width:230px;
  display:inline-block;
  text-align: left;
}

.image-holder {
  height:200px;
  width:200px;
  border-radius: 25px;
  box-shadow: 0px 5px 27px #AAAAAA;
}

.item-name-text{
  width:230px;
  font-family: "SFPro Semibold";
  margin-top: 10px;
  font-size: 26px;
}

.item-title-text{
  width:230px;
  font-family: "SFPro Regular";
  margin-top: 10px;
  font-size: 18px;
}

.list-title {
  font-family: "SFPro Semibold";
  font-size: 2.5rem;
}

.list-desc {
  font-family: "SFPro Regular";
  font-size: 2rem;
}

.about {
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: #F5F5F5;
  z-index: 1;
  position: relative;
}

.footer-box {
    height: 30%;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    transform: translateY(233%);
}
.footer-address{
  font-family: "SFPro Regular";
  font-size: 15px;
}

.footer-box-container {
    height: 80%;
    width: 60%;
    margin-top: 2%;
    display:inline-block;
    position: relative;

}
.links-container{
  height: 100%;
  width:calc(100%/3 - 2px);
  display:inline-block;
  text-align: left;
  vertical-align: top;
}

.links-container a{
  font-size: 15px;
  font-family: "SFPro Regular";
  font-weight: 400;
  display:block;
  text-decoration: none;
  color:#5F5F5F;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: transform .2s;
}

.links-container a:hover{
  font-weight: 600;
}

.footer-ceclogo {
  height:30px;
  margin-bottom: 10px;
}

@media only screen and (max-width:1187px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width:967px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width:725px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .description-content {
    width:90%;
  }
  .grid-container {
    grid-template-columns: auto;
  }
  .title-text{
    margin-top: 20px;
    font-size: 50px;
  }
  .description-title-text {
    font-size: 28px;
  }
  .description-desc-text {
    font-size: 18px;
  }

}
